<div class="position-relative">
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="product-container">
    <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
    <div class="product-container-laptop">
        <!-- ...rest of your content... -->
    </div>
</div>

    <div class="form-container">
        <div class="board-form-inner2">

            <form class="sticky" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="header">
                    <h2 class="black">Admin</h2>
                    <hr class="white">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input id="email" formControlName="email" type="email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" formControlName="password" type="password">
                </div>
                <hr>
                <button type="submit">Login</button>

            </form>

        </div>
    </div>

</div>